{% extends "solar_lookup/base.html" %}

{% block content %}
  <script src=
"https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js">
</script>
    <div class="container">
    	<div class="top">
            <form id="address">
        <input type="text" name="address" id="address" placeholder="Address" />
        <button type="submit" class="button">Enter</button>
      </form>
    </div>

    </div>

        <div class="container" id="mapid">
            
        </div>
        <div class="top">
                <button onclick="takeshot()">
            Download Screenshot
        </button>

        <!--<h1>Screenshot:</h1> -->
    </div>
        
    <div id="output"></div> 

        <div class="container">
        	<div class="top">
                <br>
        		<form action="{% url 'upload_image' %}" method="POST" enctype="multipart/form-data">
        			{% csrf_token %}
        			<input type="file" id="image-upload" name="myImg">
        			<input type="submit" onclick="runAnalyze()" value="Analyze">
        		</form>
        	</div>

        	<div class="container top">
                <br>
                <label>True</label>
<progress id="true-bar" value="{{ solar }}" max="100"> 32% </progress>
<br>
<label>False </label>
<progress id="false-bar" value="{{ roof }}" max="100" style="color:red"></progress>
    
            </div>
        	
        </div>
   {% load static %}
    <script src="{% static '/scripts.js' %}"></script>

{% endblock content %}