{% extends "solar_lookup/base.html" %}

{% block content %}
    <div class="container">
    	<div class="top">
            <form id="address">
        <input type="text" name="address" id="address" placeholder="Address" />
        <button type="submit" class="button">Enter</button>
      </form>
    </div>

    </div>

        <div class="container" id="mapid">
            
        </div>
        <div class="top">
                <button onclick="takeshot()">
            Download Screenshot
        </button>

        <!--<h1>Screenshot:</h1> -->
    </div>
        
    <div id="output"></div> 
  <script src=
"https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js">
</script>
    <script>
        // Define the function 
        // to screenshot the div
        function takeshot() {
			var urlend = download();
            axios({
				url:urlend,
				method:'GET',
				responseType:'blob'
			})
			.then((response) => {
            const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'shot.png');
                    document.body.appendChild(link);
                    link.click();
      })
					
            // Use the html2canvas
            // function to take a screenshot
            // and append it
            // to the output div
            // html2canvas(div).then(
            //     function (canvas) {
            //         document
            //         .getElementById('output')
            //         .appendChild(canvas);
            //     })
            domtoimage.toBlob(document.getElementById('mapid'))
    .then(function (blob) {
        window.saveAs(blob, 'mapid.png');
    });
}


            
/*
domtoimage.toPng(node)
    .then(function (dataUrl) {
        var img = new Image();
        img.src = dataUrl;
        document.body.appendChild(img);
    })
    .catch(function (error) {
        console.error('oops, something went wrong!', error);
    });

        }
        */
    </script>

        <div class="container">
        	<div class="top">
                <br>
        		<h2>Upload Satellite Image to Analyze</h2>
        		<form action="{% url 'upload_image' %}" method="POST" enctype="multipart/form-data">
        			{% csrf_token %}
        			<input type="file" id="image-upload" name="myImg">
        			<input type="submit" value="Analyze">
        		</form>
        	</div>

        	<div class="container top">
                <br>
                <label>True</label>
<progress id="true-bar" value="{{ solar }}" max="100"> 32% </progress>
<br>
<label>False </label>
<progress id="false-bar" value="{{ roof }}" max="100" style="color:red"></progress>
    
            </div>
        	
        </div>
   {% load static %}
    <script src="{% static '/scripts.js' %}"></script>

{% endblock content %}